:root {
    --sidebar-elem-width: 300px;
    --sidebar-margin-side: 25px;
    --sidebar-color: rgb(15, 65, 80);
}


body {
    margin: 0;
    width: 1200px;
    /*min-width: 1200px;*/
    /*max-height: 1690px;*/
    font-size: 0;
}

.column {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

/* SIDEBAR */

#sidebar {
    width: 350px;
    background: var(--sidebar-color);
    color: white;
    font-size: 20px;
}

#photo {
    width: var(--sidebar-elem-width);
    margin-top: 25px;
    margin-left: var(--sidebar-margin-side);
    margin-bottom: 25px;
}

#sidebar > hr {
    width: var(--sidebar-elem-width);
    color: white;
    margin-bottom: 10px;
}

#sidebar > .header, #sidebar > p {
    margin-left: var(--sidebar-margin-side);
    margin-right: var(--sidebar-margin-side);
    text-align: justify;
}

#sidebar p.date-of-birth {
    text-align: right;
}

#sidebar div.personal-skills {
    width: var(--sidebar-elem-width);
    margin-left: var(--sidebar-margin-side);
    font-size: 19px;
    text-align: right;
}

#sidebar div.personal-skills > p {
    margin: 5px;
}

#sidebar > .header {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 25px;
    text-align: justify;
    width: var(--sidebar-elem-width);
    font-weight: bold;
}

#sidebar > .header > span {
    display: inline-block;
    width: 100%;
}

#sidebar .icon {
    width: 30px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    line-height: 30px;
    vertical-align: middle;
}

#sidebar > p.language-skills {
    font-weight: bold;
}

#sidebar > p.language-skills > span {
    font-weight: normal;
}


#sidebar > p.contacts > span, #sidebar > p.language-skills > span {
    float: right;
}

#sidebar > p.contacts > span {
    vertical-align: middle;
    line-height: 30px;
}


#sidebar > br {
    /*margin-top: 5px;*/
}

#sidebar > p.text {
    text-align: justify;
}

#sidebar > p.text > span {
    display: inline-block;
    width: 100%;
}

#sidebar > p.education strong {
    font-size: 21px;
}

#sidebar > p.education {
    font-size: 16px;
}

/* PAGE */

#page {
    width: 850px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 25px;
}

#page > h1, #page > h2 {
    color: var(--sidebar-color);
}

#page > h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

#page > h2 {
    margin-top: 0;
    text-align: right;
}

#page > hr {
    margin-top: 35px;
}

#page > h3 {
    margin-top: 0;
}

#page .time-period {
    float: right;
}

#page .workplace-header {
    margin-bottom: 5px;
}

#page .position {
    font-style: italic;
}

#page ul {
    margin-top: 0;
}

#page .phone {
    float: right;
}

#page p.reference {
    margin-top: 10px;
    margin-bottom: 0;
}